.quote_section_class_ltl input[type=checkbox]:checked:before {
    width: 25px;
    padding-top: 2px;
}
.quote_section_class_ltl table.form-table tbody {
    width: 100%;
    display: block;
}
.quote_section_class_ltl .form-table tr .titledesc {
    width: 300px;
}
input#service_wwe_lfq_estimates_title {
    display:none;
}
.plan_color {
    text-decoration: none;
    color: red;
    margin: 0 0 0 60px;
    font-size: 1.3em;
    font-weight: 600;
}
.plan_color:hover {
    color: #ff0000;
}
/*end cutoff time*/
#wpfooter {
    position: static;
    margin-left: 0px !important;
}

#footer-left {
    margin-left: 160px !important
}

.carrier_section_class table .WWE_carrier_carrier {
    width: 70%;
    font-size: 18px;
    color: #0073aa;
    text-align: left;
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 10px 20px;
}

.carrier_section_class table .WWE__carrier_logo {
    width: 10%;
    text-align: center;
    font-size: 18px;
    color: #0073aa;
    font-weight: normal;
    border-bottom: 1px solid #e1e1e1;
}

.carrier_section_class table .WWE_carrier_include {
    width: 15%;;
    padding-left: 10px;
    text-align: center;
    padding-right: 10px !important;
    border-bottom: 1px solid #e1e1e1;
}

.WWE_even_odd_class {
    background-color: #fff !important;
}

.carrier_section_class table .WWE_carrier_Name_td {
    text-align: left;
    padding-left: 10px !important;
}

.carrier_section_class table td {
    text-align: center;
}

.carrier_section_class table tr {
    background: #f9f9f9;
}

.carrier_section_class .form-table tr .titledesc {
    width: 800px;
    padding: 6px;
}

.carrier_section_class table {
    border-spacing: 0;
}

.carrier_section_class .form-table td {
    width: 200px;
    padding: 0px;
}

.ltl_connection_section_class a {
    text-decoration: unset;
}

.ltl_connection_section_class .form-table tr .titledesc {
    width: 300px;
}

.ltl_connection_section_class .button-primary {
    font-size: 13px !important;
    margin-left: 24px;
    width: 163px !important;
    height: 40px;
}

.ltl_setting_section .button-primary, .user_guide p.submit {
    display: none;
}

.ltl_connection_section_class .connection_save_button {
    margin-left: 15px;
    width: 190px !important;
    height: 40px;
    background: #298cba none repeat scroll 0 0 !important;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.ltl_connection_section_class input {
    width: 350px;
}

.ltl_connection_section_class label {
    cursor: default;
}

.class_success_message {
    margin: 5px 0 15px !important;
    border-left-color: #46b450 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

.class_error_message {
    margin: 5px 0 15px !important;
    border-left-color: #dc3232 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

.user_guide {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.user_guide p {
    font-size: 14px;
}

a:focus {
    box-shadow: none !important;
}

.p_ds_location {
    width: 50% !important;
}

/*warehouse portion ends*/

label[for=wc_settings_wwe_delivery_estimate] {
    font-size: 13px;
    font-style: italic;
}

label[for=wc_settings_wwe_allow_for_own_arrangment] {
    font-size: 13px;
    font-style: italic;
}

label[for="wc_settings_wwe_world_wide_express_account_number"]:after, label[for="wc_settings_wwe_speed_freight_username"]:after, label[for="wc_settings_wwe_speed_freight_password"]:after, label[for="wc_settings_wwe_authentication_key"]:after, label[for="wc_settings_wwe_licence_key"]:after {
    content: " *";
    color: red;
}

label[for="ltl_origin_zip"]:after, label[for="ltl_origin_city"]:after, label[for="ltl_origin_state"]:after, label[for="ltl_origin_country"]:after {
    content: " *";
    color: red;
}

input[type="checkbox"] {
    cursor: default;
}

.handeling_fee_err {
    color: #d54e21;
    font-size: 13px;
    display: block;
}

.ltl_test_connection {
    font-size: 15px !important;
    width: 167px !important;
    text-align: center;
}

.ltl_test_connection:hover {
    background: #008ec2;
    color: #fff;
    border-color: #006799;
}

.quote_section_class_ltl .description {
    font-style: normal !important;
}

.quote_section_class_ltl input[type="text"] {
    width: 250px;
    border-radius: 4px;
}

.carrier_section_class input[type=checkbox]:checked:before {
    margin: -1px 0 0 -3px !important;
}

.carrier_section_class input[type="checkbox"] {
    cursor: default;
    height: 20px;
    width: 20px;
}

.quote_section_class_ltl input[type="checkbox"] {
    cursor: default;
    height: 24px;
    width: 22px;
}

.quote_section_class_ltl input[type=checkbox]:checked:before {
    margin: -1px 0 0 -3px !important;
}

.quote_section_class_ltl .form-table tr .titledesc {
    width: 300px;
}

.quote_section_class_ltl label {
    cursor: default;
}

.quote_section_class_ltl .button-primary {
    margin-left: 336px;
    width: 160px !important;
    height: 40px;
    font-size: 14px;
}

.carrier_section_class .button-primary {
    width: 160px !important;
    height: 40px;
    font-size: 14px;
}

.ltl_test_connection {
    font-size: 13px !important;
    text-align: center;
    width: 167px !important;
}

.ltl_test_connection:hover {
    background: #008ec2;
    color: #fff;
    border-color: #006799;
}

.ltl_connection_section_class p.submit {
    float: right;
    text-align: left;
    width: calc(100% - 310px);
}

.ltl_connection_section_class p.submit > * {
    line-height: 2.9 !important;
}

.woocommerce_variable_attributes div.data select {
    width: 100% !important;
}

.woocommerce_variable_attributes div.data .checkbox {
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.form-row select {
    height: 35px !important;
}

.button-primary {
    text-transform: capitalize !important;
}

.warning-msg-ltl {
    margin: 5px 0 15px !important;
    border-left-color: #ffb900 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 3px 12px;
}

.warning-msg-ltl p, .test_conn_msg p, .test_err_msg p, .wrng_credential p, .not_allowed p {
    margin: .5em 0;
}


.form-table select {
    height: 35px !important;
}

/* font size quote setting page */
.wwe_freight_handling_weight_tr th,
.wwe_freight_maximum_handling_weight_tr th,
.en_woo_addons_liftgate_with_auto_residential_style th,
.wc_settings_wwe_residential_delivery th,
.avaibility_lift_gate th,
.wc_settings_wwe_lift_gate_delivery th,
.wwe_quests_liftgate_delivery_as_option th,
.wwe_quests_notify_delivery_as_option th,
.avaibility_auto_residential th {
    padding: 3px 0 10px 15px;
    margin-left: 10px !important;
    font-weight: 400;
}

.wwe_freight_handling_weight_tr td,
.wwe_quests_notify_delivery_as_option td,
.wwe_freight_maximum_handling_weight_tr td {
    padding: 0px 0 10px 15px;
}

._hazardousmaterials span.description {
    font-size: 12px;
}

textarea.prevent_text_box {
    width: 250px;
    border-radius: 1px;
}

.wwe_ltl_hold_at_terminal_checkbox_status a {
    text-decoration: none;
    color: red;
    margin: 0 0 0 60px;
    font-size: 1.3em;
    font-weight: 600;
}

/*Css for nested material fields*/
._nestedDimension, ._nestedStakingProperty {
    width: 50% !important;
}

._nestedMaterials_tr .description a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    position: relative;
    font-style: normal;
}

._nestedMaterials_tr span.description {
    font-style: normal;
    font-size: 12px;
}

.disabled_me._nestedDimension, .disabled_me._nestedStakingProperty {
    color: #000000;
}

._hazardousmaterials .description a, ._nestedMaterials_tr .description a {
    top: 3px;
}

tr.wwe_rate_mehod span.description,
tr.wwe_Number_of_label_as span.description,
tr.wwe_ltl_hold_at_terminal_fee_tr span.description,
tr.wc_settings_wwe_hand_free_mark_up_tr span.description,
tr.wc_settings_wwe_allow_other_plugins_tr span.description {
    display: block;
}

tr.wc_settings_wwe_residential_delivery td,
tr.wc_settings_wwe_lift_gate_delivery td,
tr.wwe_quests_liftgate_delivery_as_option td {
    padding-top: 0;
}

.pallet-detail .warning-msg-ltl {
    display: none;
}

#order_shipping_line_items .shipping .display_meta {
    display: none;
}

/* Cuttoff Time */
tr.wwe_lfq_estimates_title th {
    font-size: 1.2em;
}

tr.all_shipment_days_wwe_lfq_tr th {
    padding-left: 23px;
    font-weight: 400;
}

tr.wwe_lfq_shipment_day_tr {
    display: inline-block;
}

.quote_section_class_wwe_lfq table.form-table tbody {
    width: 100%;
    display: block;
}

tr.all_shipment_days_wwe_lfq_tr {
    display: inline;
}

tr.all_shipment_days_wwe_lfq_tr td {
    padding-left: 10px;
}

tr.wwe_lfq_shipment_day_tr th {
    display: none;
}

.quote_section_class_wwe_lfq tr.wc_pervent_proceed_checkout_eniture th {
    padding-left: 18px;
}

.wwe_lfq_ship_date_offset a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    left: -130px;
    top: -2px;
}

.wwe_lfq_estimates_title a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    left: -130px;
    top: -2px;
}
/* Weight threshold for LTL freight */
tr.hide_en_weight_threshold_lfq {
    display: none;
}
/*Fix estimate options*/
.quote_section_class_smpkg td.forminp.forminp-radio ul li {
    display: block !important;
}